<div class="grid grid-cols-[2fr_1fr] h-screen">
    <div class="bg-white flex items-center justify-end px-28 ps-28 bg-center" style="background-image: url('/assets/images/bgcover3.jpg'); background-size: 90%; background-repeat: no-repeat;">
        <div>
            <h1 class="text-white text-5xl font-bold ps-40">Welcome to <br>Task Manager!</h1>
            <P class="max-w-md ps-40 text-white text-xl">Stay organized and manage your tasks with ease. Let's get started!</P>
        </div>
    </div>
    <div class="bg-white flex w-full justify-center items-center">
        <div class="w-1/1">
            <router-outlet></router-outlet>
        </div>        
    </div>
</div>

<div class="text-center py-10">
    <h1 class="text-3xl font-bold text-blue-900">Welcome to Task Manager!</h1>
    <p class="text-lg text-gray-600 mt-4">
      Stay organized and manage your tasks with ease. Let's get started!
    </p>
  </div>
  